body {  
  font-family: sans-serif;
  font-size: 14px;
}

button {
  min-width: 60px;
}

/** COMPONENTS **/
.container-style {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
}

